<div class="row" style="margin:3px;">
    <button class="btn btn-default center-block" {{action "access"}}>
      <div style="width:300px;margin:1px;height:42px;line-height:42px;vertical-align:middle;">
        <img src="{{item.icon}}" height="42" width="42"> {{item.name}}
      </div>
    </button>
</div>