<h1 style="text-align:center;margin-bottom:20px;">
  {{#if icon}}
    <img src="{{icon}}" height="50" width="50">
  {{/if}}
  {{title}}
</h1>


<div style="text-align:center;margin-bottom:20px;">
  Here are your snapshots, enjoy!
</div>



<div class="container-fluid">
  {{#each photos as |photo|}}
    {{gallery-item item=photo}}
  {{/each}}
</div>


{{#if hasMore}}
  {{more-button loadMore=(action 'more')}}
{{/if}}
