

<h1 style="text-align:center;margin-bottom:20px;">

  YY's Wedding Photo Gallery

</h1>


<div class="container-fluid">

  {{#each photos as |photo|}}

    {{gallery-item item=photo}}

  {{/each}}

</div>


{{#if hasMore}}
  <div class="row">
    <button class="btn btn-default center-block" style="width:200px;" {{action "more"}}>
      More
    </button>
  </div>
{{/if}}