<h1 style="text-align:center;margin-bottom:20px;">
  Photo Gallery: Sign Up
</h1>


<div style="text-align:center;margin-bottom:20px;margin-left:auto;margin-right:auto;width:500px;">
  {{#bs-form formLayout="horizontal" model=this onSubmit=(action "signUp") as |form|}}
    {{form.element controlType="text" label="Username" placeholder="Your user name, e.g. Yasin" property="username" width="100px"}}
    {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
  {{/bs-form}}
</div>
