<h1 style="text-align:center;margin-bottom:20px;">
  {{#if icon}}
    <img src="{{icon}}" height="50" width="50">
  {{/if}}
  {{title}} - Upload
</h1>








<button class="btn btn-default" style="width:200px;" {{action "backToGallery"}}>
  Back to Gallery
</button>
